# Created by https://www.toptal.com/developers/gitignore/api/wordpress
# Edit at https://www.toptal.com/developers/gitignore?templates=wordpress

### WordPress ###
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.

# Ignore everything inside wp-content except our theme
/public/wp-content/*
!/public/wp-content/themes/
/public/wp-content/themes/*
!/public/wp-content/plugins/
!/public/wp-content/plugins/**
!/public/wp-content/themes/astra-custom-for-norhage/
!/public/wp-content/themes/astra-custom-for-norhage/**

# WordPress Core
/public/wp-admin/
/public/wp-includes/
/public/index.php
/public/license.txt
/public/readme.html
/public/wp-*.php
/public/xmlrpc.php

# Configuration
/public/wp-config.php

# Example themes
/public/wp-content/themes/twenty*

# Plugins
/public/wp-content/plugins/*
!/public/wp-content/plugins/running-ticker-line/
!/public/wp-content/plugins/running-ticker-line/**
!/public/wp-content/plugins/product-labels/
!/public/wp-content/plugins/product-labels/**
!/public/wp-content/plugins/nh-faq/
!/public/wp-content/plugins/nh-faq/**
!/public/wp-content/plugins/nh-inactivity-popup-lite/
!/public/wp-content/plugins/nh-inactivity-popup-lite/**
!/public/wp-content/plugins/nh-cutting-toggle/
!/public/wp-content/plugins/nh-cutting-toggle/**
!/public/wp-content/plugins/nh-sale-slider/
!/public/wp-content/plugins/nh-sale-slider/**
!/public/wp-content/plugins/nh-shipping-calculator/
!/public/wp-content/plugins/nh-shipping-calculator/**
!/public/wp-content/plugins/nh-home-builder/
!/public/wp-content/plugins/nh-home-builder/**
!/public/wp-content/plugins/nh-filters/
!/public/wp-content/plugins/nh-filters/**
!/public/wp-content/plugins/nh-feature-box/
!/public/wp-content/plugins/nh-feature-box/**
!/public/wp-content/plugins/nh-tax-switcher/
!/public/wp-content/plugins/nh-tax-switcher/**
!/public/wp-content/plugins/nh-delivery-time/
!/public/wp-content/plugins/nh-delivery-time/**

# Uploads
/public/wp-content/uploads/

# Log files
*.log

# database
sql/*

# htaccess
.htaccess

# Ignore debug and backup files
*.bk
local-xdebuginfo.php

# All plugins
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

robots.txt
llms.txt

# End of https://www.toptal.com/developers/gitignore/api/wordpress