name: Deploy Astra Theme to Staging (SFTP)

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Deploy theme via SFTP
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASS }}
          port: 22
          source: "public/wp-content/themes/astra-custom-for-norhage/*"
          target: "/staging/wp-content/themes/astra-custom-for-norhage"
          overwrite: true
