name: Deploy Plugin nh-cutting-toggle to Staging (SFTP)

on:
  push:
    branches:
      - staging
    paths:
      - 'public/wp-content/plugins/nh-cutting-toggle/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Deploy nh-cutting-toggle plugin via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.6
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASS }}
          port: 22
          sftp_only: true
          local_path: "public/wp-content/plugins/nh-cutting-toggle/*"
          remote_path: "/staging/wp-content/plugins/nh-cutting-toggle"
