name: Deploy Astra Theme to Staging (SFTP)

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Deploy theme via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.6
        with:
          username: ${{ secrets.SFTP_USER }}
          server: ${{ secrets.SFTP_HOST }}
          port: 22
          password: ${{ secrets.SFTP_PASS }}
          sftp_only: true
          local_path: "public/wp-content/themes/astra-custom-for-norhage/*"
          remote_path: "/staging/wp-content/themes/astra-custom-for-norhage"
